* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.parent {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
}
/* .header {
    padding: 40ox;
  
} */
.navbar-ul {
    display: flex;
}
.navbar-li {
    margin: 0 43px;
    color: #FFFFFF;
    font-size: 16px;
}


